<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'stylesheet.css')}}">
    <title>These are not the droids you're looking for</title>
</head>
<body>
<div class = 'sun'>
<h1 class ="not-found">"You shouldn't be here, bro."</h1>
<p class ="quote_auth">Sun-Tzu, 2012</p>
    <a href = "{{url_for('go_home')}}"><button   class="btn four_but" title="Return">Take Me Back</button></a>
    <br>
    <br>
</div>
</body>
</html>