<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'stylesheet.css')}}">
</head>
<body>
<div class="title">
    <p>
        Request Counter
    </p>
</div>
<div class="get">
    <h1> GET</h1>
    <p> Use this button to perform a GET request.</p>
    <a href="{{url_for('count_req')}}">
        <button name="Get" class="btn"> GET Request</button>
    </a>
    <br>
    <br>
</div>
<div class="post">
    <h1>POST</h1>
    <p>Use this button to perform a POST request.</p>
    <form method='POST' action='request-counter'>
        <button name="Post" class="btn"> POST Request</button>
    </form>
    <br>
</div>

<div class="stats">
    <h1>
        STATS
    </h1>
    <p>
        Use this button to see stats.
    </p>
    <a href="{{url_for('return_stats')}}">
        <button type="button" title="STATS" class="btn">Method Stats</button>
    </a>
    <br>
    <br>
</div>
</body>
</html>