<!doctype HTML>
<html>
<head>
<meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'stylesheet.css')}}">
</head>
<body>
<div class="title">
    <h1>Stats</h1>
</div>
<div class="get">
    <br>
    <br>
    <table title = "Method Stats" class="tab" align="center">
        <thead>
            <td>Method</td>


            <td>Count</td>

        </thead>
        <tbody>
        <tr>
            <td class = "method">
                GET
            </td>
            <td class="method">
                24
            </td>
        </tr>

        <tr>
            <td class="method">
                GET
            </td>
            <td class="method">
                24
            </td>
        </tr>

        <tr>
            <td class="method">
                GET
            </td>
            <td class="method">
                24
            </td>
        </tr>

        <tr>
            <td class="method">
                GET
            </td>
            <td class="method">
                24
            </td>
        </tr>
        </tbody>
    </table>
<br>
    <a href="{{url_for('go_home')}}"><button title = "Go Back" class="btn">Return Home</button></a>
    <br>
    <br>
</div>
</body>

</html>